.doQuestionPage{

  .title{
    margin-bottom: 48px;
  }
  .options-wrapper{
    margin-bottom: 48px;

  }
  .controlBtn{
    margin: 24px 48px;
    width: 80vw;
  }
  .at-button--primary{

    background-color: #88619a;
    border: #88619a;
  }
}
